<div class="grid">
    <div class="col-4">
        <mat-card>
            <mat-card-header>
                <mat-card-title>
                    Alumno <mat-icon>shopping_cart</mat-icon>
                </mat-card-title>
            </mat-card-header>
            <mat-card-content style="font-size: 2rem;">01</mat-card-content>
        </mat-card>
    </div>
    <div class="col-4">
        <mat-card>
            <mat-card-header>
                <mat-card-title>
                    Alumno <mat-icon>shopping_cart</mat-icon>
                </mat-card-title>
            </mat-card-header>
            <mat-card-content style="font-size: 2rem;">01</mat-card-content>
        </mat-card>
    </div><div class="col-4">
        <mat-card>
            <mat-card-header>
                <mat-card-title>
                    Alumno <mat-icon>shopping_cart</mat-icon>
                </mat-card-title>
            </mat-card-header>
            <mat-card-content style="font-size: 2rem;">01</mat-card-content>
        </mat-card>
    </div>













</div>
