<div class="grid">

    <div class="col-4 " >
        <mat-card>
            <mat-card-header>
                <mat-card-title style="color:blue">
                    INTERPRETE <mat-icon style="color: black;">interpreter_mode</mat-icon>
                </mat-card-title>
            </mat-card-header>
            <mat-card-content style="font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">Asistencia de interprete personal o distancia para cada situacion solicitada.</mat-card-content>
        </mat-card>
    </div>

    <div class="col-4">
        <mat-card>
            <mat-card-header>
                <mat-card-title style="color:blue">
                    TRADUCCION <mat-icon style="color: black;">translate</mat-icon>
                </mat-card-title>
            </mat-card-header>
            <mat-card-content style="font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">Traducciones en todos los formatos, papel, digital, video segun requerimiento.</mat-card-content>
        </mat-card>
    </div>
    <div class="col-4">
        <mat-card>
            <mat-card-header>
                <mat-card-title style="color:blue">
                    LENGUAJE DE SEÑAS <mat-icon style="color: black;">sign_language</mat-icon>
                </mat-card-title>
            </mat-card-header>
            <mat-card-content style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">Orientados a trabajadores de la educucion, salud y cultura como tambien al publico en general.</mat-card-content>
        </mat-card>
    </div>
    <div class="col-4">
        <mat-card>
            <mat-card-header>
                <mat-card-title style="color:blue">
                    SUBTITULOS <mat-icon style="color: black;">subtitles</mat-icon>
                </mat-card-title>
            </mat-card-header>
            <mat-card-content style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">Se realizan sibtitulos en formatos de video, digitales, streamming en tiempo real con alto profesionalismo.</mat-card-content>
        </mat-card>
    </div>
    <div class="col-4">
        <mat-card>
            <mat-card-header>
                <mat-card-title style="color:blue">
                   ASIA<mat-icon style="color: black;">language</mat-icon>
                </mat-card-title>
            </mat-card-header>
            <mat-card-content style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">Disponemos de una amplia variedad de idiomas tales como japones, coreano, chino tradicional, chino mandarin, etc.</mat-card-content>
        </mat-card>
    </div>
    <div class="col-4">
        <mat-card>
            <mat-card-header>
                <mat-card-title style="color:blue">
                    EUROPA<mat-icon style="color: black;">language</mat-icon>
                </mat-card-title>
            </mat-card-header>
            <mat-card-content style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">Disponemos de una amplia variedad de idiomas tales como italiano, frances,portugues,ingles, etc.</mat-card-content>
        </mat-card>
    </div>
</div>

<br>

<div>
  <div>
    <h2>MISION</h2>
      <p>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ullam cumque maxime sit animi sapiente porro recusandae, quasi repellendus aspernatur dolorum aperiam? Provident earum quasi nobis mollitia optio repellat soluta repudiandae!
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate minima maxime, sunt ex dicta doloremque ut saepe consequatur labore minus provident sed natus ad fuga incidunt sequi dolore dolorum doloribus!
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam temporibus vitae fuga eaque, in nam esse ab. Odio cumque temporibus voluptate, non adipisci earum vero iure, esse blanditiis necessitatibus ut.
    </p>
    <div>
      <ul>
        <li>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Architecto facere nobis explicabo, repudiandae quaerat ad possimus delectus veritatis! Corrupti perferendis explicabo in magnam asperiores animi maiores repellat qui. Quod, odio!
        </li>
        <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde rerum nobis modi voluptatum adipisci odit tempora, dolore repellendus est voluptatem libero fugit enim voluptas! Id reprehenderit suscipit eligendi cumque maiores.
        </li>
        <li>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate exercitationem et unde accusantium labore porro voluptatem repudiandae corrupti eius dolorum quis aperiam laudantium deleniti natus, iusto placeat dolorem ipsam quia?
        </li>
      </ul>
    </div>
  </div>
</div>
